App
  display: flex

*
  pading: 0
  margin: 0
  position: relative

.timeline
  margin-bottom: 40px
  &:before
    content: ""
    position: absolute
    top: 40px
    left: 62px
    width: 3px
    height: calc(100% - 80px)
    background: #000000
  .column
    margin: 40px 40px 40px 120px
    .title
      h1
        font-size: 120px
        color: rgba(0, 0, 0, 0.1)
        font-family: serif
        letter-spacing: 3px
        &:before
          content: ""
          position: absolute
          left: -65px
          top: 86px
          width: 10px
          height: 10px
          background: #fff
          border: 3px solid #000000
      h2
        margin-top: -60px
        font-size: 33px
    .description
      p
        font-size: 13px
        line-height: 20px
        margin-left: 20px
        margin-top: 10px
        font-family: serif
      border-left: 1px solid #000

.main__timeline
  padding-top: 20px
  display: flex
  flex-direction: column
  align-items: center

.main__timeline-header
  font-size: 80px
  line-height: 60px

.main__timeline-paragraph
  font-size: 13px
  line-height: 20px
  font-family: serif
  text-align: left